{%extends 'intro/base.html'%}
{%block title%}Login{%endblock%}

{% block content %}
<form class="form-inline login" method="post">
    <div class="form-group">
        {%csrf_token %}
        {{form.as_p}}

    </div>
    <button type="submit" class="btn btn-default btn-primary">Submit</button>
</form>

{%endblock%}
<!--

{% block content %}
&lt;!&ndash;change LOGIN_REDIRECT_URL = '/' in settings to redirect to other page&ndash;&gt;

<div class="container">
<form method="post">
    <div class="form-group">
        {%csrf_token %}
        {{form.as_p}}
    <button type="submit " >login</button>
    </div>
</form>
</div>
{%endblock%}
-->

